<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.core.mapper.SysRoleMenuMapper">

	<resultMap type="com.hhwy.system.core.domain.SysRoleMenu" id="SysRoleMenuResult">
		<result property="roleId"     column="role_id"      />
		<result property="menuId"     column="menu_id"      />
		<result property="mistyFlag"     column="misty_flag"      />
	</resultMap>
	
	<select id="checkMenuExistRole" resultType="Integer">
	    select count(1) from sys_role_menu where menu_id = #{menuId} and misty_flag = '0' and tenant_key = #{tenantKey}
	</select>

	<delete id="deleteRoleMenuByRoleId" >
		delete from sys_role_menu where role_id=#{roleId} and tenant_key = #{tenantKey}
	</delete>

	<delete id="deleteRoleMenuByMenuIds" >
		delete from sys_role_menu where menu_id in
		<foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
			#{menuId}
		</foreach>
		and tenant_key = #{tenantKey}
	</delete>

	<delete id="deleteRoleMenu" >
 		delete from sys_role_menu where role_id in
 		<foreach collection="ids" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach>
		and tenant_key = #{tenantKey}
 	</delete>
	
	<insert id="batchRoleMenu">
		insert into sys_role_menu(role_id, menu_id, misty_flag, tenant_key) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.menuId},#{item.mistyFlag},#{item.tenantKey})
		</foreach>
	</insert>
	
</mapper> 