<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.core.mapper.SysTenantDbMapper">
    <resultMap type="com.hhwy.system.api.domain.SysTenantDb" id="SysTenantDbResult">
        <result property="id"    column="id"    />
        <result property="tenantKey"    column="tenant_key"    />
        <result property="serviceName"    column="service_name"    />
        <result property="dbHost"    column="db_host"    />
        <result property="dbPort"    column="db_port"    />
        <result property="dbName"    column="db_name"    />
        <result property="dbUserName"    column="db_user_name"    />
        <result property="dbType"    column="db_type"    />
        <result property="dbPassword"    column="db_password"    />
        <result property="dbUrl"    column="db_url"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysTenantDbVo">
        select `id`, `tenant_key`, `service_name`, `db_host`, `db_port`, `db_name`, `db_user_name`, `db_type`, `db_password`, `db_url`, `del_flag` from `sys_tenant_db`
    </sql>

    <select id="selectSysTenantDbList" parameterType="com.hhwy.system.api.domain.SysTenantDb" resultMap="SysTenantDbResult">
        <include refid="selectSysTenantDbVo"/>
        <where>
            `del_flag` = 0
            <if test="tenantKey != null  and tenantKey != ''"> and `tenant_key` = #{tenantKey}</if>
            <if test="serviceName != null  and serviceName != ''"> and `service_name` like concat('%', #{serviceName}, '%')</if>
            <if test="dbHost != null  and dbHost != ''"> and `db_host` = #{dbHost}</if>
            <if test="dbPort != null "> and `db_port` = #{dbPort}</if>
            <if test="dbName != null  and dbName != ''"> and `db_name` like concat('%', #{dbName}, '%')</if>
            <if test="dbUserName != null  and dbUserName != ''"> and `db_user_name` like concat('%', #{dbUserName}, '%')</if>
            <if test="dbType != null  and dbType != ''"> and `db_type` = #{dbType}</if>
            <if test="dbPassword != null  and dbPassword != ''"> and `db_password` = #{dbPassword}</if>
            <if test="dbUrl != null  and dbUrl != ''"> and `db_url` = #{dbUrl}</if>
        </where>
        order by `id` desc
    </select>

    <select id="getTenantDbByServiceName" resultMap="SysTenantDbResult">
        <include refid="selectSysTenantDbVo"/>
        <where>
            `del_flag` = 0 and `service_name` = #{serviceName}
        </where>
        order by `id` desc
    </select>

    <select id="getTenantDbByServiceNameAndTenantKey" resultMap="SysTenantDbResult">
        <include refid="selectSysTenantDbVo"/>
        where `del_flag` = 0 and `service_name` = #{serviceName} and tenant_key = #{tenantKey}
    </select>

    <select id="selectSysTenantDbById" parameterType="Long" resultMap="SysTenantDbResult">
        <include refid="selectSysTenantDbVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertSysTenantDb" parameterType="com.hhwy.system.api.domain.SysTenantDb">
        insert into `sys_tenant_db`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="tenantKey != null">`tenant_key`,</if>
            <if test="serviceName != null">`service_name`,</if>
            <if test="dbHost != null">`db_host`,</if>
            <if test="dbPort != null">`db_port`,</if>
            <if test="dbName != null">`db_name`,</if>
            <if test="dbUserName != null">`db_user_name`,</if>
            <if test="dbType != null">`db_type`,</if>
            <if test="dbPassword != null">`db_password`,</if>
            <if test="dbUrl != null">`db_url`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="tenantKey != null">#{tenantKey},</if>
            <if test="serviceName != null">#{serviceName},</if>
            <if test="dbHost != null">#{dbHost},</if>
            <if test="dbPort != null">#{dbPort},</if>
            <if test="dbName != null">#{dbName},</if>
            <if test="dbUserName != null">#{dbUserName},</if>
            <if test="dbType != null">#{dbType},</if>
            <if test="dbPassword != null">#{dbPassword},</if>
            <if test="dbUrl != null">#{dbUrl},</if>
         </trim>
    </insert>

    <update id="updateSysTenantDb" parameterType="com.hhwy.system.api.domain.SysTenantDb">
        update `sys_tenant_db`
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantKey != null">`tenant_key` = #{tenantKey},</if>
            <if test="serviceName != null">`service_name` = #{serviceName},</if>
            <if test="dbHost != null">`db_host` = #{dbHost},</if>
            <if test="dbPort != null">`db_port` = #{dbPort},</if>
            <if test="dbName != null">`db_name` = #{dbName},</if>
            <if test="dbUserName != null">`db_user_name` = #{dbUserName},</if>
            <if test="dbType != null">`db_type` = #{dbType},</if>
            <if test="dbPassword != null">`db_password` = #{dbPassword},</if>
            <if test="dbUrl != null">`db_url` = #{dbUrl},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteSysTenantDbById" parameterType="Long">
        update `sys_tenant_db` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteSysTenantDbByIds" parameterType="String">
        update `sys_tenant_db` set del_flag = 1 where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>